@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

body{
    background-color: black;
    color: white;
    /*font-family: Bahnschrift SemiBold;*/
    font-family: 'Rubik', sans-serif;
}

.block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 70%;
    max-height: 100%;
}

.block h1{
    text-align: center;
}

.quote{
    margin-top: 20px;
    font-size: 2.5rem;
}

.author{
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: right;
}

.anime{
    color: yellow;
    margin-top: 20px;
    font-size: 1.5rem;
}

.quote.small{
    font-size: 10px;
}

.quote, .author {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

@media only screen and (max-width: 600px) {

.quote{
    font-size: 2.2rem;
}

.author{
    margin-top: 15px;
    font-size: 1.2rem;
    text-align: center;
}

.anime{
    font-size: 1.2rem;
    margin-top: 20px;
}
}